body
{
    margin:0;
    padding:0;
    padding-top: 70px
}

/* =========================== start navbar ======================= */
.navbar5 .navbar-expand-lg
{
    background:rgba(6, 12, 34, 0.98);
    height:70px;
    position: fixed;
    left:0;
    top:0;
    width:100%;
    z-index: 10
}
.navbar5 .navbar-light .navbar-brand img
{
    width:176px;
    height:36px
}

.navbar5 .navbar-light .navbar-nav .nav-link
{
    color:rgba(202, 206, 221, 0.8);
    font-weight: 630;
    font-size: 16px;
    padding-left: 0;
    padding-right: 0;
    margin: 0 10px;
    text-transform: capitalize;
    position: relative
}
.navbar5 .navbar-light .navbar-nav .one::after
{
    content: attr(data-text);
    overflow: hidden;
    width:0;
    position: absolute;
    color:#f82249;
    left: 0;
    white-space: nowrap;
    transition: 0.5s;
    border-bottom:2px solid #f82249
}
.navbar5 .navbar-light .navbar-nav .one:hover::after
{
    width: 100%
}
.navbar5 .navbar-light .navbar-nav .activ
{
    color:#f82249;
    border-bottom:2px solid #f82249;
    padding-bottom: 0

   
}
.navbar5 .navbar-light .navbar-nav .spechial
{
    padding:3px 25px;
    background: #f82249;
    border-radius:15px;
    margin-top: 5px;
    border:2px solid #f82249;
    transition: 0.5s
}
.navbar5 .navbar-light .navbar-nav .spechial:hover
{
    background:none
}
/* =========================== end navbar ======================= */











/* =========================== start beganing ======================= */
.begain
{
    background-image:url('../img/intro-bg.jpg');
    background-size:cover;
    height:calc(100vh - 70px)
}
.begain .back
{
    background:rgba(6, 12, 34, 0.8);
    height:100%;
    
}
.begain .back .over
{
    padding-top: 100px;
    position: relative
}
.begain .back .over h1
{
    color:white;
    font-weight:700;
    font-family: sans-serif;
    font-size:50px;
 
    
}
.begain .back .over h2
{
    font-size: 53px;
    color:white;
    font-family: sans-serif;
    font-weight: bold;
    margin-bottom: 25px

}
.begain .back .over h2 span
{
    color:#f82249
}
.begain .back .over p
{
    color:white;
    font-size:22px;
    font-weight: 600
}
.begain .back .over div
{
    width:90px;
    height:90px;
    border-radius: 50%;
    background:rgba(255,255,255,0.1);
    margin: auto;
    padding:15px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
        cursor: pointer;
    margin-bottom: 30px

}
.begain .back .over div::before
{
    content: "";
    width: 60px;
    height:60px;
    position: absolute;
    border-radius:50%;
    border:3px solid rgba(255,255,255,0.2);
    animation: spiner 2s infinite linear;
}
.begain .back .over div i
{
    width:100%;
    height:100%;
    background:#f82249;
    color:white;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
@keyframes spiner
{
    0%
    {
        width:60px;
        height:60px;
        
    }100%
    {
        width:100%;
        height:100%;
        
    }
}
.begain .back .over a
{
    color:white;
    font-weight:470;
    text-transform: capitalize;
    font-size:16px;
    padding:8px 29px;
    border-radius:26px;
    border:2px solid #f82249;
    text-decoration: none;
    transition: 0.6s
}
.begain .back .over a:hover
{
    color:white;
    background:#f82249;
    
}
@media(max-width:756px)
{
    .begain
    {
        height:100vh

    }
}

/* =========================== end beganing ======================= */













/* =========================== start about ======================= */
.about
{
    background-image:url('../img/about-bg.jpg');
    background-size:cover;
}
.about .back
{
    background:rgba(13, 20, 41, 0.8);
    padding:50px 0
}
.about .back .container .row div:first-of-type h1
{
    color:rgba(255,255,255,1);
    font-family:sans-serif;
    font-weight:560;
    margin-bottom:10px   
}
.about .back .container .row div:first-of-type p
{
    color:white;
    font-size:17px;
    font-style:italic;
    margin-bottom: 0
    
}
.about .back .container .row div:nth-of-type(2) h2,
.about .back .container .row div:nth-of-type(3) h2
{
    color:white;
    font-family: sans-serif;
    font-size:26px;
    font-weight:550;
    margin-bottom: 15px;
}
.about .back .container .row div:nth-of-type(2) p,
.about .back .container .row div:nth-of-type(3) p

{
    color:white;
    font-size:16px;
    font-style: italic;
    margin-bottom: 0

}
/* =========================== end about ======================= */












/* =========================== start speacker ======================= */
.speacker
{
    padding:50px 0;
    overflow: hidden
}
.speacker .container header h2
{
    color:#0e1b4d;
    font-family: serif;
    font-size: 35px;
    font-weight: 700
}
.speacker .container header p
{
    color:rgba(0,0,0,0.4);
    font-size:19px;
    font-weight: 500;
    font-style: italic
}
.speacker .container header hr
{
    height: 3px;
    width:60px;
    background:#f82249;
    margin-bottom: 40px
}
.speacker .container .row .pairant .child
{
    height:280px;
    display: flex;
    align-items: flex-end;
    overflow: hidden;
    margin-bottom: 30px
    
}
.speacker .container .row .pairant .child .up
{
   background:rgba(6, 12, 34, 0.76);
    width: 100%;
    padding:10px 0;    
    transform: translate(0,38px);
    transition: 0.3s;
    transition-timing-function:ease-in
}
.speacker .container .row .pairant .child .up h4
{
    color:white;
    font-family: serif;
    margin-bottom: 0;
    font-weight:600;
    cursor: pointer;
    transition: 0.5s
}
.speacker .container .row .pairant .child .up h4:hover,
.speacker .container .row .pairant .child .up a i:hover
{
    color:#f82249;
}
.speacker .container .row .pairant .child .up p
{
    color:white;
    font-style: italic;
    margin-bottom: 10px
}
.speacker .container .row .pairant .child .up a
{
    color:white;
    margin:0 3px;
    transition: 0.5s
}
.speacker .container .row .pairant .child:hover .up 
{
    transform: translate(0)
}

/* =========================== end speacker ======================= */








/* =========================== start event ======================= */
.event
{
    padding:50px 0;
    background:#F6F7FD;
}
.event header h2
{
   color:#0e1b4d;
    font-family: serif;
    font-size: 35px;
    font-weight: 700    
}
.event .container header p
{
    color:rgba(0,0,0,0.4);
    font-size:19px;
    font-weight: 500;
    font-style: italic
}
.event .container header hr
{
    height: 3px;
    width:60px;
    background:#f82249;
    margin-bottom: 40px
}.event .container header ul
{
    margin-bottom:30px
}
.event .container header ul li
{
    display: inline-block;
    width:220px;
    padding:8px 0;
    text-align: center;
    background: #0e1b4d;
    font-size:18px;
    font-weight:600;
    color:white;
    border-radius:19px;
    text-transform: capitalize;
    cursor: pointer;
    
}
.event .container header ul li:first-child
{
    background:#f82249
}
.event .container header p:last-child
{
    width: 70%;
    margin: auto;
    color:#0e1b4d;
    font-weight:600;
    margin-bottom: 60px
}
.event .container
{
    width:65%
}

.event .container .shafel div .pairant
{
    overflow: hidden;
    padding:25px 17px;
    transition: 0.3s
}
.event .container .shafel div .pairant + hr
{
    margin: 0
}
.event .container .shafel div .pairant:hover
{
    background: white
}
.event .container .shafel div .pairant .child1
{
    width:18%;
}
.event .container .shafel div .pairant .child1 span
{
    font-size:18px;
    display: block;
    margin-top:10px
}
.event .container .shafel div .pairant .child2
{
    width:82%
}
.event .container .shafel div .pairant .child2 h2
{
    color:#0e1b4d;
    font-family:inherit;
    margin: 0;
    font-size:20px;
    font-weight:600
}
.event .container .shafel div .pairant .child2
{
    overflow: hidden
}
.event .container .shafel div .pairant .child2 p
{
    font-style: italic;
    font-size:17px;
    color:#0e1b4d;
    margin: 0
}
.event .container .shafel div .pairant .child2 img
{
    width:60px;
    height:60px;
    border-radius:50%;
    
}
.event .container .shafel div .pairant .child2 div:first-child{
    width:12%;
}
.event .container .shafel div .pairant .child2 div:last-child{
    width:88%;
}
@media(max-width:968px)
{
    .event .container header ul li
    {
        margin-bottom: 10px
    }
    .event .container
    {
        width: 100% !important;
        margin: 0
    }
}
/* =========================== end event ======================= */











/* =========================== start VENUE ======================= */
.VENUE
{
    padding:50px 0;
    
}
.VENUE header h2
{
    color:#0e1b4d;
    font-family: serif;
    font-weight:600;
}
.VENUE header p
{
    color:rgba(0,0,0,0.7);
    font-style: italic;
    font-size:18px
}
.VENUE header hr
{
    width:5%;
    margin: auto;
    height:3px;
    background:#F82249;
    margin-bottom: 40px;
}
.VENUE .row
{
    margin: 0 auto;
    width: 97%;
    overflow: hidden
}
.VENUE .row div
{
    padding: 0;
}
.VENUE .row .ifram5
{
 
  height: 320px;     
}
.VENUE .row .ifram5 iframe
{
    
    width: 100%;
    height: 100%

}
.VENUE .row .info
{
    height: 320px;
    background-image:url(../img/venue-info-bg.jpg);
    background-size: cover;
    margin-bottom: 3px
}
.VENUE .row .info div
{
    background:rgba(13, 20, 41, 0.8);
    padding:60px;
    height: 100%;
    width: 100%;
    margin-bottom: 0px;
 
}
.VENUE .row .info div h2
{
    color:white;
    font-size:45px;
    text-align: center;
    font-family: serif
    
}
.VENUE .row .info div p
{
    color:white;
    width: 80%;
    margin: auto;
    line-height: normal
}
.VENUE .row .children
{
    padding-right:3px;
    padding-bottom:3px;
    perspective: 500px;
    overflow: hidden;
    height:250px;

    
}
.VENUE .row .children div
{
overflow: hidden;
    width: 100%;
    height: 100%

}
.VENUE .row .children img
{
    width:100%;
    height:100%;
    transition: 0.5s;
cursor:pointer
    
}
.VENUE .row .children img:hover
{
    transform: translateZ(50px);
    
}
/* =========================== end VENUE ======================= */












/* =========================== start HOTELS ======================= */
.HOTELS
{
    background:#F6F7FD;
    padding:70px 0;
}
.HOTELS header h2
{
    color:#0e1b4d;
    font-family: serif;
    font-weight:600;
}
.HOTELS header p
{
    color:rgba(0,0,0,0.7);
    font-style: italic;
    font-size:18px
}
.HOTELS header hr
{
    width:5%;
    margin: auto;
    height:3px;
    background:#F82249;
    margin-bottom: 40px;
}
.HOTELS .container .row div .firest
{
    border: 1px solid #e0e5fa;
    margin-bottom: 15px
}
.HOTELS .container .row div .firest .img
{
   perspective: 500px;
    overflow: hidden
}
.HOTELS .container .row div .firest .img img
{
    width:100%;
    height:250px;
    transition: 0.4s
}
.HOTELS .container .row div .firest:hover .img img
{
    transform: translateZ(40px)
}

.HOTELS .container .row div .firest .info 
{
    padding:15px;
    background:white
}
.HOTELS .container .row div .firest .info h4
{
    color:#152b79;
    font-family: sans-serif;
    font-size:22px;
    font-weight:600;
    transition: 0.4s
}
.HOTELS .container .row div .firest .info i
{
    color:#ffc31d;
}
.HOTELS .container .row div .firest .info p
{
    font-style: italic;
    margin-top:5px;
    margin-bottom: 0
}
/* =========================== end HOTELS ======================= */










/* =========================== start GALLERY ======================= */
.GALLERY
{
    padding:70px 0;
}
.GALLERY header h2
{
    color:#0e1b4d;
    font-family: serif;
    font-weight:600;
}
.GALLERY header p
{
    color:rgba(0,0,0,0.7);
    font-style: italic;
    font-size:18px
}
.GALLERY header hr
{
    width:5%;
    margin: auto;
    height:3px;
    background:#F82249;
    margin-bottom: 40px;
}
.GALLERY .pairant .items
{
    height:200px
}
.GALLERY .pairant .items img
{
    height:100%
}

.GALLERY .owl-theme .owl-dots .owl-dot.active span
{
    background:#f82249 !important
}
.GALLERY .owl-theme .owl-dots .owl-dot
{
    outline:0;
}
.GALLERY .owl-theme .owl-dots .owl-dot span
{
    background:#aaa !important
}
.GALLERY .owl-theme .owl-nav.disabled+.owl-dots
{
    margin-top: 30px
}
/* =========================== end GALLERY ======================= */











/* =========================== start SPONSORS ======================= */
.SPONSORS
{
    padding:70px 0;
    background:#F6F7FD
}
.SPONSORS header
{
    text-align: center;
}
.SPONSORS header h2
{
    color:#0e1b4d;
    font-family: serif;
    font-weight:600;
}
.SPONSORS header p
{
    color:rgba(0,0,0,0.7);
    font-style: italic;
    font-size:18px
}
.SPONSORS header hr
{
    width:5%;
    margin: auto;
    height:3px;
    background:#F82249;
    margin-bottom: 40px;
}
.SPONSORS .row
{
    border:0.5px solid #eee
}
.SPONSORS .row div
{
    padding:40px 35px;
    border:0.3px solid #eee;
    perspective: 500px
}
.SPONSORS .row div img
{
    width:100%;
    height:90%;
    transition: 0.4s ease-out
}
.SPONSORS .row div:hover img
{
    transform: translateZ(90px);
}
/* =========================== end SPONSORS ======================= */














/* =========================== start faq ======================= */
.faq
{
    padding: 70px 0;
}
.faq .container
{
    width:65%
}
.faq header h2
{
    color:#0e1b4d;
    font-family: serif;
    font-weight:600;
    
}
.faq header p
{
    color:rgba(0,0,0,0.7);
    font-style: italic;
    font-size:18px
}
.faq header hr
{
    width:5%;
    margin: auto;
    height:3px;
    background:#F82249;
    margin-bottom: 60px;
}
.faq .colapsed .cardd input
{
    display:none
}
.faq .colapsed .cardd label
{
    color:black;
    font-size:24px;
    font-family: sans-serif;
    font-family: serif;
    font-weight: 450;
    margin-bottom: 0;
    cursor: pointer;
    width:100%;
    transition:all 0.5s ease-in-out
}
.faq .colapsed .cardd p
{
    -wepkit-transition: 0.5s;
    -o-transition: 0.5s;
    -moz-transition:0.5s;
    transition: 0.5s;
    font-style: italic;
    font-size:19px;
    height:0;
    overflow: hidden;
    
}
.faq .colapsed .cardd label::after
{
    content:"\f055" ;
    font-family: 'fontawesome';
    float: right
}
.faq .colapsed .cardd input:checked + label::after
{
     content:"\f056" ;
    font-family: 'fontawesome';
    float: right
}
.faq .colapsed .cardd input:checked ~ p
{
    height:60px;
}
.faq .colapsed .cardd input:checked + label
{
    color:#f82249;
}
@media(max-width:768px)
{
    .faq .colapsed .cardd label
    {
        font-size:20px
    }
}
/* =========================== end faq ======================= */









/* =========================== start NEW ======================= */
.new2
{
    background-image: url('../img/subscribe-bg.jpg');
    background-position: center;
    background-size: cover;
    background-attachment: fixed
}
.new2 .over
{
    padding:70px 0;
    background:rgba(6, 12, 34, 0.6)
}
.new2 .over header h2
{
    color:white;
    font-size:40px;
    font-family:serif;
    font-weight:500
}
.new2 .over header p
{
    color:white;
    font-style: italic;
    font-size: 17px
}
.new2 .over header hr
{
    width:5%;
    margin: auto;
    height:3px;
    background:#F82249;
    margin-bottom: 30px;
}
.new2 .over div
{
    width: 40%;
    margin: auto;
    position: relative
}
.new2 .over div input
{
    display: block;
    width: 100%;
    padding: 7px 15px;
    border:0;
    border-radius: 19px;
    font-weight: 550
    
    
}
.new2 .over div a
{
    color:white;
    background: #f82249;
    padding:7px 15px;
    position: absolute;
    right:0;
    top:0;
    width: 30%;
    font-weight: 550;
    text-decoration: none;
    border-top-right-radius: 19px;
    border-bottom-right-radius: 19px;
    cursor: pointer;
    transition: 0.3s
    
}
.new2 .over div a:hover
{
    background: #E0072F;
    color:white
}

@media(max-width:768px)
{
.new2 .over div
    {
        width:60%
    }
    
}
/* =========================== end NEW ======================= */













/* =========================== start sellar ======================= */
.sellar
{
    padding:70px 0;
    background:#F6F7FD;
    overflow:hidden;
}
.sellar header h2
{
    color:#0e1b4d;
    font-size:40px;
    font-family:serif;
    font-weight:500
}
.sellar header p
{
    color:rgba(0,0,0,0.5);
    font-style: italic;
    font-size: 17px
}
.sellar header hr
{
    width:5%;
    margin: auto;
    height:3px;
    background:#F82249;
    margin-bottom: 30px;
}
.sellar div .pairant
{
    padding:30px 25px;
    box-shadow:0 2px 15px rgba(0,0,0,0.1);
    background:white;
    transition: all 0.7s ease-in-out
    
}
.sellar div .pairant
{
    margin-bottom: 15px
}

.sellar div .pairant:hover
{
    box-shadow:0 2px 15px rgba(0,0,0,0.4);
}
.sellar div .pairant .child1 h4
{
    font-family: sans-serif;
    color:rgba(0,0,0,0.3);
    text-transform: capitalize;
    margin-bottom:0px;
    font-family: serif
}
.sellar div .pairant .child1 span
{
    color:#0e1b4d;
    font-size:45px;
    font-weight:450
}
.sellar div .pairant .child2 li
{
    font-size:18px;
    font-weight: 520;
    margin-bottom:15px;
    font-family:'Barlow';
}
.sellar div .pairant .child2 .one::before
{
    content:"\f00c";
    font-family:'fontawesome';
    font-size:17px;
    margin-right: 7px;
    font-weight:400
    
}
.sellar div .pairant .child2 .tow::before
{
    content:"\f00d";
    font-family:'fontawesome';
    font-size:17px;
    margin-right: 7px;
    font-weight:400;
    color:rgba(0,0,0,0.5)
}
.sellar div .pairant .child2 .tow
{
    color:rgba(0,0,0,0.5)
}
.sellar div .pairant .child3 a
{
    display: block;
    text-align: center;
    width: 60%;
    padding: 10px 0;
    color:white;
    font-weight:600;
    background:#f82249;
    font-family: 'Barlow';
    text-decoration: none;
    margin: auto;
    text-transform: capitalize;
    border-radius: 23px
    
}
.sellar div .pairant .child3 a:hover
{
    background:#E0072F;
}


/* =========================== end sellar ======================= */
















/* =========================== start contact ======================= */
.contact
{
    padding:60px;
    overflow: hidden
}
.contact header h2
{
    color:#0e1b4d;
    font-size:40px;
    font-family:serif;
    font-weight:500
}
.contact header p
{
    color:rgba(0,0,0,0.5);
    font-style: italic;
    font-size: 17px
}
.contact header hr
{
    width:5%;
    margin: auto;
    height:3px;
    background:#F82249;
    margin-bottom: 30px;
}
.contact .row
{
    margin-bottom: 18px
}
.contact .row .one 
{
    border-right:1px solid #ddd
}
.contact .row > div
{
    padding:25px 0
}
.contact .row div div h4
{
    color:#112363;
    font-family:'Barlow';
    font-weight:600
}
.contact .row div div p
{
    color:#112363;
    font-size:17px;
    font-style: italic
}
.contact .row div div p a
{
    color:#112363;
    font-weight:550;
    text-decoration: none
}
.contact .form input
{
    padding: 8px 15px;
    border:1px solid #ddd;
    width: 100%;
    margin-bottom: 25px;
    outline: 0;
    font-weight: 500
    
}
.contact .form input:nth-child(2)
{
    float: right
}
.contact .form .one
{
    width:49%
}
.contact .form textarea
{
    width: 100%;
    height:120px;
    border:1px solid #ddd;
    padding:20px;
    font-weight: 500

}
.contact .form a
{
    display: block;
    width: 170px;
    padding:8px 0;
    color:white;
    text-decoration: none;
    font-family: "Barlow";
    border-radius: 24px;
    margin: auto;
    background:#f82249;
    text-align: center;
    margin-top: 15px;
    font-weight: 500;
    font-size: 18px;
    transition: 0.5s
}
.contact .form a:hover
{
    background:#E0072F;
}
@media(max-width:786px)
{
    .contact .form .one
    {
        width: 100%
    }
}
    
/* =========================== end contact ======================= */













/* =========================== start footer1 ======================= */
.footer1
{
    padding-top:60px;
    overflow: hidden;
    background:#040919;
}
.footer1 .container .row div:first-child img
{
    width: 80%;
    margin: auto;
    margin-bottom: 15px
}
.footer1 .container .row div:first-child p
{
    color:white;
    font-style: italic;
    line-height:1.5;
    font-size: 17px;
}
.footer1 .container .row
{
    padding-bottom: 60px
}
.footer1 .container .row .tewins h4
{
    color:white;
    font-family: 'barlow';
    font-weight:500;
    font-size:120%
}
.footer1 .container .row .tewins hr
{
    height:1px;
    background:#F82249
}
.footer1 .container .row .tewins ul li a
{
    padding:10px 0;
    color:white;
    text-decoration:none;
    font-family:'barlow';
    text-transform: capitalize;
    border-bottom:1px solid #262c44;
    display: block;
    transition: 0.5s
}
.footer1 .container .row .tewins ul li a:hover
{
    color:#f82249
}
.footer1 .container .row .tewins ul li a::before
{
    content:"\f105";
    font-family: 'fontawesome';
    color: #f82249;
    margin-right: 9px

}

.footer1 .container .row div:last-child h4
{
    color:white;
    font-family: 'barlow';
    font-weight:500;
    font-size:120%   
}
.footer1 .container .row div:last-child hr
{
    height:1px;
    background:#F82249
}
.footer1 .container .row div:last-child ul li
{
    color:white;
    font-family: 'barlow';
    margin-bottom: 7px;
    font-size:18px
}
.footer1 .container .row div:last-child .icon i
{
    width:40px;
    height:40px;
    line-height: 40px;
    text-align: center;
    background: #222636;
    border-radius:50%;
    color:white;
    cursor: pointer;
    transition: 0.4s
}
.footer1 .container .row div:last-child .icon i:hover{
    background:#f82249
}
.footer1 .last-fotter
{
    padding:30px;
    background:#101522;
}
.footer1 .last-fotter p
{
    margin: 0;
    color:white;
    font-family: 'barlow';
    font-size:16px
}
.footer1 .last-fotter p a
{
    color:#f82249;
    text-decoration:none;
    font-weight:600
    
}

/* =========================== end footer1 ======================= */


.up-button
{
    position: fixed;
    right:15px;
    bottom:15px;
    overflow: hidden
}
.up-button a
{
    width: 40px;
    height:40px;
    border-radius:50%;
    background:#f82249;
    color:white;
    line-height: 40px;
    text-align: center;
    font-size:24px;
    font-weight: 660;
    text-decoration: none;
    display: block;
}

































